* {
    margin: 0px;
    padding: 0px;
}

span{
background-color: brown;
    height: 60px;
    width: 150px;
    text-align: center;
    align-content: center;
    padding: 10px;
    margin: 20px ;
    border: 5px solid black;
}

p{
    background-color: burlywood;
    height: 60px;
    width: 150px;
    text-align: center;
    align-content: center;
    padding: 20px;
    margin: 40px ;
    border: 5px solid black;
}
