 h1 {
      text-align: center;
      color: red;
      text-transform: uppercase;
    }
h2 {
      color: blue;
      font-size: 150px;
      font-weight: bold;
      font-style: italic;
      line-height: 120px;
    }
p {
      color :orangered;
      text-decoration: underline;
      letter-spacing: 90px;
      letter-spacing: 2px;
    font-weight: bold;

}